/*
	Estilo para o site de motivação da disciplina de SI1 da UFCG.
*/
a{
	color: blue;
	text-decoration: none;
}
h1, h2, h3{
    color: blue;
	font-family: helvetica, sans-serif;
    padding-left: 10px;
}
p, li{
    font-size: 18px;
}